body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
	background-color: black;
	color: white;
}

.container .content {
	text-align: left;
	border: solid orange;
	width: 70%;
	margin: auto;
	padding: 2em;
}
.highlighted {
	color: orange;
}
h3 {
	text-align: center;
}
pre {
	border-radius: 0.5em;
	padding: 1.5em;
	white-space: pre-line;
	background-color: rgb(46, 45, 45);
}

.try_it {
	text-decoration: none;
	background-color: orange;
	padding: 0.6em 1.1em;
	border-radius: 0.5em;
	color: rgb(71, 70, 70);
}
.go_to {
	color: black;
}
.try_it:hover + .go_to {
	color: orange !important;
}